#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${package}.dal.mapper.RecordMapper">

    <sql id="record">
        `record_id` `recordId`,
        `user_id` `userId`, `num` `num`
    </sql>

    <select id="selectRecordList" resultType="${package}.dal.model.Record">
        SELECT
        <include refid="record"/>
        FROM record
        WHERE `status` = 'VALID'
        <if test="userId != null and userId != ''">
            AND `user_id` = ${symbol_pound}{userId}
        </if>
        <if test="num != null">
            AND `num` = ${symbol_pound}{num}
        </if>
        ORDER BY record_id ASC
    </select>

    <select id="getRecordDetail" parameterType="java.lang.Integer"
            resultType="${package}.dal.model.Record">
        SELECT
        <include refid="record"/>
        FROM record
        WHERE record_id = ${symbol_pound}{recordId}
    </select>

    <insert id="fullInsertRecord" parameterType="${package}.dal.model.Record"
        useGeneratedKeys="true" keyProperty="recordId">
        INSERT INTO record ( 
            `user_id`, `num`
        ) VALUES ( 
            ${symbol_pound}{userId}, ${symbol_pound}{num}
        )
    </insert>

    <update id="updateRecord" parameterType="${package}.dal.model.Record">
        UPDATE record
        <trim prefix="set" suffixOverrides=",">
                <if test="userId != null">
                    `user_id` = ${symbol_pound}{userId},
                </if>
                <if test="num != null">
                    `num` = ${symbol_pound}{num},
                </if>
        </trim>
        WHERE record_id = ${symbol_pound}{recordId}
    </update>

    <update id="deleteRecords">
        UPDATE record
        SET `status` = 'UNVALID', updated_by = ${symbol_pound}{updatedBy}
        WHERE record_id IN
        <foreach collection="recordIdArray" item="recordId" open="(" close=")" separator=",">
            ${symbol_pound}{recordId}
        </foreach>
    </update>
</mapper>
